index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IguanaFix - MercadoPago Sale
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Contratá servicios para tu hogar y auto de manera simple, rápida y segura. La única herramienta que vas a necesitar">
    <meta name="keywords" content="Soluciones, servicios, casa, auto, arreglos, instalaciones">
    <meta name="author" content="IguanaFix SRL">
    <link rel="icon" href="https://static.iguanafix.com/static/v2/images/favicon.ico?v=128">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="main.css" rel="stylesheet" type="text/css"><meta property="og:site_name" content="IguanaFix">
<meta property="og:title" content="IguanaFix - Contratá servicios para tu hogar y auto de manera simple, rápida y segura">
<meta property="og:image" content="https://static.iguanafix.com/static/v2/images/meta/twi_app_customer.png?v=128">
<meta property="og:description" content="Contratá servicios para tu hogar y auto de manera simple, rápida y segura. La única herramienta que vas a necesitar">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.iguanafix.com.ar/">
<meta property="og:locale" content="og:locale:alternate" />
<meta property="fb:app_id" content="513683775351392" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IguanaFix">
<meta name="twitter:title" content="IguanaFix">
<meta name="twitter:description" content="Contratá servicios para tu hogar y auto de manera simple, rápida y segura. La única herramienta que vas a necesitar">
<meta name="twitter:creator" content="@IguanaFix">
<meta name="twitter:image:src" content="https://static.iguanafix.com/static/v2/images/meta/twi_app_customer.png">
<meta name="twitter:domain" content="iguanafix.com" />
<meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.marb.iguana&hl=es" />
<meta name="twitter:app:id:googleplay" content="com.marb.iguana" />
<meta name="google-site-verification" content="Otmg3BksNxZF1xKpY1Jjvii8_A1562OxuTsaDd45vv4" />
<meta name="google-site-verification" content="Qm4akxVfOuXo1s4NzG83ZtbnlAeDX-TP-g6sOukxdZU" />
<meta name="google-site-verification" content="un8LpGfadMRSRlirEc-9u4V5iq95Uk500kT8HP3YqbU" />
<meta name="google-site-verification" content="bk4OYQee6fuFhmkg6PHa2ajCXxmg2iLdtOPxXzPqvzU" />
  </head>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-54SD7P5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54SD7P5');</script>
    <!-- End Google Tag Manager -->
  <body>
    <header class="main-header" id="main-header">
      <div class="container">
        <div class="header">
          <h1 class="logo pull-left"><a href="https://www.iguanafix.com.ar/" target="_blank"><img class="img-responsive" src="https://static.iguanafix.com/static/v2/images/logo.svg" alt="IguanaFix"></a></h1>
        </div>
      </div>
    </header>
    <div class="primary-section sale-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>72 horas de descuentos exclusivos</h2>
            <p>Promoción válida en servicios para tu hogar y tu Auto contratados <br> los días 8, 9 y 10 de Enero del 2018. ¡Incluso presupuestos!</p>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal">
                  <fieldset>
                    <div class="form-group has-feedback">
                      <input class="form-control input-lg" type="text" placeholder="Buscá servicios con descuento" id="search"><span class="fa fa-search form-control-feedback"></span>
                    </div>
                  </fieldset>
                </form>
                <div class="search-results" id="results">
                  <div class="content"></div>
                  <div class="footer col-md-12 col-xs-12">
                    <div class="col-md-8 col-xs-8">No es lo que estabas buscando? <br> Entrá a nuestra web para ver todos los servicios</div>
                    <div class="col-md-4 col-xs-4"><a class="btn btn-secondary hoverable hvr-tr_bx-sh" href="https://www.iguanafix.com.ar/" target="_blank"><span class="anim"></span> Ingresá</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 text-center mp-img"><img class="img-responsive hidden-xs" src="mp-desk.png" alt="MercadoPago - Medios de pago"><img class="img-responsive hidden-lg hidden-md hidden-sm" src="mp-mobile.png" alt="MercadoPago - Medios de pago"></div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="ifix-title-wrapper text-center">
            <h2>Te aseguramos profesionales calificados y 6 meses de garantía</h2>
            <p>Si tu trabajo requiere un presupuesto, aplicaremos el descuento aún si lo pagás después de la vigencia de la promoción utilizando MercadoPago</p>
          </div>
        </div>
        <div class="col-md-12 promos">
          <div class="row">
            <div class="col-md-8 col-xs-6">
              <div class="box-grid aa">
                <div class="vhcenter">
                  <h3><span>20% OFF</span> en instalación de <br> aires acondicionados</h3><span class="from">Desde <span>$3799</span> <strong>$3040</strong></span><a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-climatizacion_2/instalacion-aire-acondicionado-split_8?utm_source=mercadopago&amp;utm_campaign=mp-2018c&amp;utm_medium=email"><span class="anim"></span> Contratá</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="box-grid paint">
                <div class="vhcenter">
                  <h3><span>15% OFF*</span> en presupuestos <br> de pintura y reformas</h3><a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-pintura_95/visita-y-presupuesto-de-pintura_116?utm_source=mercadopago&amp;utm_campaign=mp-2018b&amp;utm_medium=email"><span class="anim"></span> Contratá</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-xs-6">
              <div class="box-grid gnc">
                <div class="vhcenter">
                  <h3><span>$1000 OFF</span> en instalación de <br> equipos de GNC</h3><span class="from">Desde <span>$21000</span> <strong>$19000</strong></span><a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-equipos-de-gnc_217"><span class="anim"></span> Contratá</a>
                </div>
              </div>
            </div>
            <div class="col-md-8 col-xs-6">
              <div class="box-grid cars">
                <div class="vhcenter">
                  <h3><span>10% OFF*</span> con tope de $1000 en <br> presupuestos de Chapa y Pintura</h3><a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicios/autos-chapa-y-pintura?utm_source=mercadopago&amp;utm_campaign=mp-2018d&amp;utm_medium=email"><span class="anim"></span> Contratá</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="text-pink">* Sobre los presupuestos producto de una visita solicitada el 8, 9 o 10 de enero del 2018.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="ifix-title-wrapper text-center">
            <h2>¡10% de descuento en todos los servicios para tu hogar!</h2>
            <p>Plomería, electricidad, gas, mudanzas, instalaciones, pisos y pequeñas soluciones</p>
          </div>
          <ul class="list-unstyled list-inline" id="productsHome"></ul>
        </div>
      </div>
    </div>
    <section class="content-section full-width primary-section" id="ifix-header-corp" style="background-image: url('https://static.iguanafix.com/static/v2/images/business/bg-header_empresas.jpg');">
      <div class="container" id="ifix-particles-container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1 class="ifix-companies-headline">¿Sabías que también contamos con <br> servicios para <span>Empresas?</span></h1><a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" href="https://www.iguanafix.com.ar/empresas" target="_blank"><span class="anim"></span> Conocenos</a>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="ifix-title-wrapper text-center">
            <h2>¿Por qué elegirnos?</h2>
            <p>Somos la empresa lider en latinoamerica de servicios para el hogar, el auto y la empresa.</p>
          </div>
          <div class="row why">
            <div class="col-md-4"><img class="img-responsive" src="why1.svg" alt="">
              <h3>Compras</h3>
              <p>Podes solicitar tu servicio enteramente desde la web o aplicación móvil en pocos minutos y pagar en muchas cuotas con muchos bancos.</p>
            </div>
            <div class="col-md-4"><img class="img-responsive" src="why2.svg" alt="">
              <h3>Gestión</h3>
              <p>Nos encargamos de conseguir al mejor profesional para tu trabajo, asegurar la calidad, y darte soporte durante la postventa.</p>
            </div>
            <div class="col-md-4"><img class="img-responsive" src="why3.svg" alt="">
              <h3>El Profesional</h3>
              <p>Te enviamos los datos del profesional y un código de seguridad, el mismo te notifica cuando está en camino y auditamos la calidad de su trabajo una vez finalizado.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ifix-quote-wrapper ifix-carpaint-quote">
      <div class="container-fluid">
        <div class="row">
          <div class="carpaint-carshops col-xs-12">
            <div class="ifix-title-wrapper text-center">
              <h2>Testimonios</h2>
            </div>
            <div class="carshops-carousel">
              <div class="carshop-item"><img class="img-responsive" src="https://static-u.iguanafix.com/images/installation-type/392-1480131045358.jpg" alt="">
                <div class="review-box">
                  <div class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
                  <hr>
                  <p class="review-text">Excelente servicio!! El profesional muy responsable y trabajador!!!</p><span class="review-user">Ruben</span><span class="review-location">Trabajo contratado: Plomeria. <br> Average: 5.0</span>
                </div>
              </div>
              <div class="carshop-item"><img class="img-responsive" src="https://static-u.iguanafix.com/images/installation-type/60.jpg" alt="">
                <div class="review-box">
                  <div class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
                  <hr>
                  <p class="review-text">Todo muy bien! el técnico muy amable y explicó muy claro todo.</p><span class="review-user">Leon</span><span class="review-location">Trabajo Contratado: Instalacion de AA <br> Average: 4,5</span>
                </div>
              </div>
              <div class="carshop-item"><img class="img-responsive" src="https://static-u.iguanafix.com/images/installation-category/214-1484263953680.jpg" alt="">
                <div class="review-box">
                  <div class="rating"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
                  <hr>
                  <p class="review-text">Servicio recomendable, todo muy bien.</p><span class="review-user">Fernando</span><span class="review-location">Trabajo: Chapa y pintura <br> Average: 5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="col-md-3"></div>
      </div>
    </footer>
    <div class="modal fade bs-example-modal-sm ifix-modal" id="modalAviso" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Condiciones del descuento</h2>
          </div>
          <div class="modal-body">
            <p>Por favor tené en cuenta que el descuento se aplicará en el momento en el que ingreses tu número de tajeta de crédito.</p>
          </div>
          <div class="modal-footer"><a class="btnclose btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" href="#!"><span class="anim"></span> Entendido</a></div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- <script>
      // var dataLayer = dataLayer || [];
      dataLayer.push({
      	'country': 'AR',
      	'device': 'Desktop',
      	'customer': '0',
      	'usertype': 'anonymous',
      
      	'location': 'AR',
      	'pagetype': 'mercadopago-2018'
       });
      
      
    </script> -->


    <script>
      $(document).ready(function(){

        dataLayer.push({
          'pagetype': 'mercadopago-2018'
        });

      	var ifixUrl = 'https://www.iguanafix.com.ar';
      	var utm10 = '?utm_source=mercadopago&utm_campaign=mp-2018a&utm_medium=email';
      	var recipient;
      
      	$.ajax({
      		type: 'GET',
      		url: 'products.json',
      		data: '{}',
      		async: false,
      		cache: false,
      
      		dataType: 'json',
      		success: function (data) {
      
      			var listElements = '';						
      
      			$.each(data, function (i, item) {
      				var discount = data[i].RegularPrice - ((data[i].RegularPrice * 10) / 100);
      
      				listElements += ' \
      					<li class="col-md-3 col-sm-3 col-xs-12">\
      						<div class="product-box shadow-box text-center">\
      							<a class="shadow-box-link" data-url="' + ifixUrl + data[i].Link + utm10 + '" data-toggle="modal" data-target="#modalAviso">\
      								<img class="img-responsive" src="'+ data[i].Image +'" alt="'+ data[i].Product +'">\
      							</a>\
      							<div class="main-info">\
      								<h3>'+ data[i].Product +'</h3>\
      								<small class="crossPrice">\
      									Desde <span>$'+ data[i].RegularPrice +'</span> <strong>$' + discount + '</strong>\
      								</small>\
      								<a class="btn btn-secondary btn-md-wide hoverable hvr-tr_bx-sh" data-url="' + ifixUrl + data[i].Link + utm10 +'" data-toggle="modal" data-target="#modalAviso">\
      									<span class="anim"></span> Contratar\
      								</a>\
      							</div>\
      						</div>\
      					</li>';
      
      			});
      
      			$('#productsHome').append(listElements);
      
      			},
      
      			error: function (msg) {
      
      				console.log(msg.responseText);
      			}
      	});
      
      
      	$('.carshops-carousel').slick({
      		dots: true,
      		infinite: true,
      		speed: 500,
      		slidesToShow: 1,
      		slidesToScroll: 1,
      		centerMode: true,
      		arrows: false,
      		centerPadding:'25%',
      		autoplay: true,
      		autoplaySpeed:5000,
      		responsive: [
      			{
      				breakpoint: 768,
      				settings: {
      					centerMode: false
      				}
      			}
      		]
      	});
      
      	$('#productsHome').slick({
      		dots: true,
      		infinite: true,
      		speed: 500,
      		slidesToShow: 4,
      		slidesToScroll: 3,
      		arrows: true,
      		autoplay: false,
      		responsive: [
      			{
      				breakpoint: 768,
      				settings: {
      					slidesToShow: 2,
      					slidesToScroll: 2
      				}
      			}
      		]
      	});
      
      
      	$.ajax({
      		type: 'GET',
      		url: 'products.json',
      		data: '{}',
      		async: false,
      		cache: false,
      
      		dataType: 'json',
      		success: function (data) {
      
      			$('#search').keyup(function(){
      				var searchField = $(this).val();
      				if(searchField === '') {
      					$('#results .content').html('');
      					$('#results').hide();
      					return;
      				}
      				
      				var regex = new RegExp(searchField, "i");
      				var output = '<div class="wrapper">';
      				var count = 1;
      
      				$.each(data, function (key, val) {
      					var discount = data[key].RegularPrice - ((data[key].RegularPrice * 10) / 100);
      
      					if ((val.RegularPrice.search(regex) != -1) || (val.Product.search(regex) != -1)) {
      						output += '<a data-url="' + ifixUrl + data[key].Link + utm10 +'" data-toggle="modal" data-target="#modalAviso" class="col-md-12 col-xs-12">';
      							output += '<div class="col-md-2 col-xs-2"><img class="img-responsive" src="'+val.Image+'" alt="'+ val.Product +'" /></div>';
      								output += '<div class="col-md-8 col-xs-8">';
      									output += '<strong>' + val.Product + '</strong> <span class="from"><span>$' + val.RegularPrice + '</span> <strong>$' + discount + '</strong>';
      								output += '</div>';
      						output += '</a>';
      
      						if(count%2 == 0){
      							output += '</div><div class="wrapper">'
      						}
      						count++;
      					}
      
      					//console.log(key);
      				});
      				output += '</div>';
      				$('#results').show();
      				$('#results .content').html(output);
      			});
      
      			$('body').click(function() {
      				$('#results').fadeOut(300);
      			});
      
      
      		},
      
      		error: function (msg) {
      			console.log(msg.responseText);
      		}
      	});
      
      	$('#modalAviso').on('show.bs.modal', function (event) {
      		var button = $(event.relatedTarget); // Button that triggered the modal
      		recipient = button.data('url');
      		dataLayer.push({'pagetype': 'mercadopago-2018','event': 'modalShow'})
      		//console.log(event.relatedTarget);
      	});
      
      	$('#modalAviso').on('hidden.bs.modal', function (event) {
      		dataLayer.push({'pagetype': 'mercadopago-2018','event': 'modalClose'})
      	});
      	
      	$('#modalAviso .btnclose').on('click', function (event) {
      		var win = window.open(recipient, '_blank');
      		if (win) {
      			//Browser has allowed it to be opened
      			win.focus();
      		} else {
      			//Browser has blocked it
      			alert('Por favor, habilitá el acceso a ventanas emergentes.');
      		}
      	});
      
      })
    </script>
  </body>
</html>

pug/index.pug
extends layout

append config
	- var pageTitle = "IguanaFix - MercadoPago Sale"

//-block append stylesheets
	link( href="../css/home.css", rel="stylesheet", type="text/css" )

block content
	.primary-section.sale-header
		.container
			.row
				.col-md-12.text-center
					h2 72 horas de descuentos exclusivos
					p Promoción válida en servicios para tu hogar y tu Auto contratados <br> los días 8, 9 y 10 de Enero del 2018. ¡Incluso presupuestos!

					.row
						.col-md-6.col-md-offset-3
							form.form-horizontal
								fieldset
									.form-group.has-feedback
										input(type="text", placeholder="Buscá servicios con descuento")#search.form-control.input-lg
										span.fa.fa-search.form-control-feedback

							#results.search-results
								.content
								.footer.col-md-12.col-xs-12
									.col-md-8.col-xs-8 No es lo que estabas buscando? <br> Entrá a nuestra web para ver todos los servicios
									.col-md-4.col-xs-4
										a(href="https://www.iguanafix.com.ar/", target="_blank").btn.btn-secondary.hoverable.hvr-tr_bx-sh
											<span class="anim"></span> Ingresá

	//- END .sale-header


	.container
		.row
			.col-md-12.col-xs-12.text-center.mp-img
				img(src="mp-desk.png", alt="MercadoPago - Medios de pago").img-responsive.hidden-xs
				img(src="mp-mobile.png", alt="MercadoPago - Medios de pago").img-responsive.hidden-lg.hidden-md.hidden-sm




		//- BEGIN - Promos
		.row
			.col-md-6.col-md-offset-3
				.ifix-title-wrapper.text-center
					h2 Te aseguramos profesionales calificados y 6 meses de garantía
					p Si tu trabajo requiere un presupuesto, aplicaremos el descuento aún si lo pagás después de la vigencia de la promoción utilizando MercadoPago

			.col-md-12.promos
				.row
					.col-md-8.col-xs-6
						.box-grid.aa
							.vhcenter
								h3 <span>20% OFF</span> en instalación de <br> aires acondicionados
								span.from Desde <span>$3799</span> <strong>$3040</strong>
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-climatizacion_2/instalacion-aire-acondicionado-split_8?utm_source=mercadopago&utm_campaign=mp-2018c&utm_medium=email").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá

					.col-md-4.col-xs-6
						.box-grid.paint
							.vhcenter
								h3 <span>15% OFF*</span> en presupuestos <br> de pintura y reformas
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-pintura_95/visita-y-presupuesto-de-pintura_116?utm_source=mercadopago&utm_campaign=mp-2018b&utm_medium=email").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá
				//- End row
				
				.row
					.col-md-4.col-xs-6
						.box-grid.gnc
							.vhcenter
								h3 <span>$1000 OFF</span> en instalación de <br> equipos de GNC
								span.from Desde <span>$21000</span> <strong>$19000</strong>
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicio-de-equipos-de-gnc_217").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá

					.col-md-8.col-xs-6
						.box-grid.cars
							.vhcenter
								h3 <span>10% OFF*</span> con tope de $1000 en <br> presupuestos de Chapa y Pintura
								a(data-toggle="modal" data-target="#modalAviso" data-url="https://www.iguanafix.com.ar/servicios/autos-chapa-y-pintura?utm_source=mercadopago&utm_campaign=mp-2018d&utm_medium=email").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
									<span class="anim"></span> Contratá
				//- End row

				.row
					.col-md-12.text-center
						p.text-pink * Sobre los presupuestos producto de una visita solicitada el 8, 9 o 10 de enero del 2018.
		//- END - Promos



		.row
			.col-md-12
				.ifix-title-wrapper.text-center
					h2 ¡10% de descuento en todos los servicios para tu hogar!
					p Plomería, electricidad, gas, mudanzas, instalaciones, pisos y pequeñas soluciones

				ul#productsHome.list-unstyled.list-inline
		
		//- End Row


	section#ifix-header-corp.content-section.full-width.primary-section(style="background-image: url('https://static.iguanafix.com/static/v2/images/business/bg-header_empresas.jpg');")
		.container#ifix-particles-container
			.row
				.col-xs-12.text-center
					h1.ifix-companies-headline ¿Sabías que también contamos con <br> servicios para 
						span Empresas?

					a(href="https://www.iguanafix.com.ar/empresas", target="_blank").btn.btn-secondary.btn-md-wide.hoverable.hvr-tr_bx-sh
						<span class="anim"></span> Conocenos





	.container
		.row
			.col-md-12
				.ifix-title-wrapper.text-center
					h2 ¿Por qué elegirnos?
					p Somos la empresa lider en latinoamerica de servicios para el hogar, el auto y la empresa.

				.row.why
					.col-md-4
						img(src="why1.svg", alt="").img-responsive
						h3 Compras
						p Podes solicitar tu servicio enteramente desde la web o aplicación móvil en pocos minutos y pagar en muchas cuotas con muchos bancos.

					.col-md-4
						img(src="why2.svg", alt="").img-responsive
						h3 Gestión
						p Nos encargamos de conseguir al mejor profesional para tu trabajo, asegurar la calidad, y darte soporte durante la postventa.

					.col-md-4
						img(src="why3.svg", alt="").img-responsive
						h3 El Profesional
						p Te enviamos los datos del profesional y un código de seguridad, el mismo te notifica cuando está en camino y auditamos la calidad de su trabajo una vez finalizado.


	.ifix-quote-wrapper.ifix-carpaint-quote
		.container-fluid
			.row
				.carpaint-carshops.col-xs-12
					.ifix-title-wrapper.text-center
						h2 Testimonios
					
					.carshops-carousel
						.carshop-item
							img(src="https://static-u.iguanafix.com/images/installation-type/392-1480131045358.jpg", alt="").img-responsive
							.review-box
								.rating
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")

								hr
								
								p.review-text Excelente servicio!! El profesional muy responsable y trabajador!!!
								span.review-user
									| Ruben
								span.review-location
									| Trabajo contratado: Plomeria. <br> Average: 5.0


						.carshop-item
							img(src="https://static-u.iguanafix.com/images/installation-type/60.jpg", alt="").img-responsive
							.review-box
								.rating
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")

								hr
								
								p.review-text Todo muy bien! el técnico muy amable y explicó muy claro todo.
								span.review-user
									| Leon
								span.review-location
									| Trabajo Contratado: Instalacion de AA <br> Average: 4,5

						.carshop-item
							img(src="https://static-u.iguanafix.com/images/installation-category/214-1484263953680.jpg", alt="").img-responsive
							.review-box
								.rating
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")
									i.fa.fa-star(aria-hidden="true")

								hr
								
								p.review-text Servicio recomendable, todo muy bien.
								span.review-user
									| Fernando
								span.review-location
									| Trabajo: Chapa y pintura <br> Average: 5
 
	//- END .container
